*,
*::afer,
*::before{
    box-sizing: border-box;
}

@font-face{
    font-family: "MontserratA_B";
    src: url(fonts/MontserratAlternates-Black.woff) format("woff");
}

@font-face{
    font-family: "MontserratA_EB";
    src: url(fonts/MontserratAlternates-ExtraBold.woff) format("woff");
}

@font-face{
    font-family: "MontserratA_R";
    src: url(fonts/MontserratAlternates-Regular.woff) format("woff");
}

@font-face{
    font-family: "MontserratA_SB";
    src: url(fonts/MontserratAlternates-SemiBold.woff) format("woff");
}

@font-face{
    font-family: "PoiretOneR";
    src: url(fonts/PoiretOne-Regular.woff) format("woff");
}

body{
    font-family: "PoiretOneR";
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

span{
    color: #FFD500;
    font-size: 54px;
    line-height: 72px;
}

.container{
    position: relative;
    
    max-width: 1340px;
    margin: 0 auto;
    
    padding: 0 20px;
}

.img__house{
    position: absolute;
    
    right: -15px;
    top: 15px;
}

/* Pages */
.page__intro{
    width: 100%;
    height: 765px;
    
    background: url(img/background_1.jpg) center;
    background-size: cover;
}

.page__about{
    width: 100%;
    height: 615px;
    
    background: #020710;
    background-size: cover;
}

.page__project{
    width: 100%;
    height: 755px;
    
    background: url(img/background_2.jpg) center;
    background-size: cover;
    
    padding: 175px 0 100px;
}

.page__contacts{
    max-width: 100%;
    height: 345px;
    
    padding: 60px 0 125px;
    
    background: url("img/background_3.jpg") center;
    background-size: cover;
}

/* Header */
.header{
    max-width: 1465px;
    
    margin: 0 auto 200px;
    padding: 1.375em 20px 0;
    
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-size: 1.8125em;
}

/* Nav */
.nav__link{
    margin-right: 35px;
    
    text-decoration: none;
    color: #fff;
    
    transition: color .4s linear, text-shadow .4s linear;
}

.nav__link:last-child{
    margin-right: 0;
}

.nav__link:hover{
    color: #D8AD47;
    text-shadow: 0 3px  6px rgba(216, 173, 71, 0.66);
}

/* Page Intro */
.content__intro{
    max-width: 385px;
}

.title{
    font-size: 1.75em;
    line-height: 1.262em;
    font-family: "MontserratA_SB";
    
    margin-bottom: 8px;
}

.text{
    font-weight: 700;
    font-family: "PoiretOneR";
}

/* Page About */
.content__about{
    padding: 30px 0 60px 0;
}

.title.orange{
    color: #D8AD47;
    
    margin-bottom: 25px;
}

.about__top{
    max-width: 440px;
    
    margin-bottom: 76px;
}

.about__top__up{
    margin-bottom: 30px;
}

.about__top__down{
    position: relative;
}

.about__top__down::after{
    position: absolute;
    content: "";
    
    width: 100%;
    height: 1px;
    background-color: #707070;
    
    margin-top: 38px;
}

.about__bottom{
    max-width: 625px;
    
    display: flex;
    align-items: center;
}

.img__tree{
    margin-left: -55px;
    margin-right: -30px;
}

.text.orange{
    font-size: 1.25em;
    color: #D8AD47;
}

/* Page Project */
.project__info{
    max-width: 475px;
    
    margin-right: 110px;
}

.project__inner{
    display: flex;
    flex-wrap: wrap;
}

/* Page Contacts */
.contacts__intro{
    margin-bottom: 25px;
}

.title.contacts.orange{
    margin-bottom: 8px;
}

.contacts__inner{
    display: flex;
    align-items: center;
}

.map{
    border-radius: 40px;
    
    height: 218px;
}

.contacts__info{
    margin-left: 45px;
}

.card__text.link{
    text-decoration: none;
    color: #fff;
    font-family: "PoiretOneR";

}

.card__text.link:hover{      
    border-bottom: 1px solid #fff;
}


/* Footer */
.footer{
    width: 100%;
    height: 150px;
    
    text-align: center;
    
    background-color: #02070F;
}

.footer__text{
    font-size: 0.75em;
}



/* Form */
.contacts__form{
    width: 340px;
    height: 215px;
    
    border-radius: 40px;
    
    background-color: rgba(255, 255, 255, .16);
    
    margin-left: 140px;
    
    padding: 25px 50px;
}

.form__text{   
    width: 220px;
    
    margin: 0 auto;
    
    text-align: center;
}

.form__input{
    display: block;
    
    margin: 25px auto;
    
    background-color: rgba(1, 1, 1, 0);
    
    border: 0;
    border-bottom: 1px solid #fff;
    
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    
    width: 340px;
    
    line-height: 21px;
}

.form__input::placeholder{
    color: #fff;
    font-family: inherit;
    font-size: inherit;
}

.form__input:focus{
    outline: none;
    background-color: rgba(1, 1, 1, 0);
}

/* Card */
.projects__card{
    width: 720px;
    height: 365px;
    
    background: url(img/boston.jpg) center;
    background-size: cover;
    
    border-radius: 43px;
    
    padding: 10px 0 0 35px;
    
    color: rgba(255, 255, 255, .8);
}

.projects__card.bg__miami{
    background: url(img/miami.jpg) center;
    background-size: cover;
}

.projects__card.bg__sietl{
    background: url(img/sietl.jpg) center;
    background-size: cover;
}

.projects__card.bg__orlando{
    background: url(img/orlando.jpg) center;
    background-size: cover;
}

.projects__card:first-child{
    margin: 0;
}

.projects__card.smaller{
    width: 390px;
    
    margin: 20px 30px 0 0;
}

.projects__card.smaller:last-child{
    margin-right: 0;
}

.card__title{
    font-family: "MontserratA_B";
    font-size: 4.3125em;
    line-height: 92px;
}

.card__size{
    font-family: "MontserratA_EB";
    font-size: 2.25em;
    color: #D8AD47;
}

.card__block{
    margin-top: 16px; 
    
    display: flex;
    align-items: center;
}

.card__text{
    display: inline-block;
    
    font-size: 1.0625em;
    font-family: "MontserratA_R";
    
    margin-left: 10px;
}

/* Buttons */
.button__block{
    margin-top: 24px;
}

.button__card{
    margin-top: 40px;
}

.button{
    text-decoration: none;
    color: #fff;
    font-family: "MontserratA_R";
    
    padding: 8px 25px;
    
    border: 2px solid #fff;
    border-radius: 20px;
    
    transition: color .4s linear, background .4s linear, box-shadow .4s linear, border .4s linear;
    
    cursor: pointer;
    
    background-color: rgba(1, 1, 1, 0);
}

.button:hover{
    color: #000;
    
    border: 2px solid #D8AD47;
    
    background-color: #D8AD47;
    
    box-shadow: 0 0 9px #D8AD47;
}

.button.center{
    display: block;
    margin: 0 auto;
}

/* Media */
@media (max-width: 1400px){
    .page__about{
        overflow: hidden;
    }
    
    .page__project{
        padding-top: 80px;
    }
    
    .img__house{
        width: 680px;
        top: 50%;
        margin-top: -256px;
    }
    
    .page__project{
        height: 100%;
    }
    
    .project__inner{
        justify-content: space-around;
    }
    
    .project__info{
        width: 475px;
        max-width: none;
        
        margin: 0 auto;
        text-align: center;
        flex-basis: 100%;
    }
    
    .projects__card{
        width: 500px;
        margin: 30px 0;
    }
    
    .projects__card.smaller{
        width: 500px;
        margin: 30px 0 0;
    }
}

@media (max-width: 1260px){
    .img__house{
        width: 580px;
        top: 50%;
        margin-top: -218px;
    }
}

@media (max-width: 1175px){
    .img__house{
        width: 500px;
        top: 50%;
        margin-top: -188px;
    }
    
    .projects__card{
        width: 700px;
        max-width: 700px;
        margin: 30px 0 0;
    }
    
    .projects__card.smaller{
        width: 700px;
        max-width: 700px;
        margin: 50px 0 0;
    }
    
    .page__contacts{
        height: 100%;
    }
    
    .contacts__intro{
        text-align: center;
    }
    
    .contacts__inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .contacts__info{      
        width: 250px;     
        
        margin-left: 15px;
    }
    
    .contacts__form{
        margin: 20px 0 0;
    }
}

@media (max-width: 965px){
    .content__intro{
        margin: 0 auto;
        text-align: center;
    }
    
    .img__house{
        display: none;
    }
    
    .content__about{
        text-align: center;
    }
    
    .about__top{
        margin: 0 auto 76px;
    }
    
    .about__top__down{
        position: relative;
    }

    .about__top__down::after{
        position: absolute;
        content: "";
        left: 0;

        width: 100%;
        height: 1px;
        background-color: #707070;

        margin-top: 38px;
    }
    
    .about__bottom{
        margin: 0 auto;
    }
}

@media (max-width: 530px){
    .header__inner{
        flex-direction: column;
    }
    
    .nav{
        margin-top: 15px;
        font-size: 18px;
    }
    
    .projects__card{
        font-size: 10px;
    }
    
    .contacts__form{
        width: 220px;
    }
    
    .form__input{
        width: 220px;
    }
}










